services:
  app:
    build: .
    container_name: nextjs_app
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    depends_on:
      - mysql
    networks:
      - labnet
  mysql:
    image: mysql:8.0
    container_name: nextlab-mysql8
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: appdb
      MYSQL_USER: app
      MYSQL_PASSWORD: app_password
    ports:
      - "3306:3306"
    command: [ "--default-authentication-plugin=mysql_native_password" ]
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - labnet
  adminer:
    image: adminer:4
    container_name: nextlab-adminer
    ports:
      - "8090:8080"
    depends_on:
      - mysql
volumes:
  mysql_data:

networks:
  labnet:
    driver: bridge
